* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  background-color: #93A8AC;
}

header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: #D7CEB2;
  padding: 10px
}

nav {
  text-align: center;
  margin: 20px 0 0;
  padding: 0;
}

nav ul {
  list-style: none;
  margin: 0 2px;
  padding: 0;
}

nav li {
  display: inline-block;
  padding: 5px 5px;
}

nav span {
  font-weight: normal;
  padding: 10px;
}

.center-text {
  display: flex;
  justify-content: center;
}

.picture{
  width: 100%;
  height: auto;
  max-width: 600px;
  max-height: 600px;
  margin-bottom: 25px;
}

.about h1 {
  margin: auto;
  padding: 20px;
}

.about-text {
  text-align: center;
  padding: 30px
}

.main {
  max-width: 1000px;
  margin: auto;
}

.main h2 {
  margin: auto;
  padding: 20px;
}

.row {
  margin: 8px -16px;
}

.row, .row > .column {
  padding: 8px;
}

.column {
  float: left;
  width: 25%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.content {
  background-color: aliceblue;
  padding: 10px;
}
img {
  width: 100%;;
}

.contact-header {
  text-align: center;
  height: 800px;
}

.contact-header h1 {
  margin: auto;
  padding: 20px;
}

.resume {
  height: 800px;
}

.resume-header {
  text-align: center;
}

.resume-header h1 {
  margin: auto;
  padding: 20px;
}

.proficiencies {
  text-align: center;
  list-style-type: none;
  padding: 20px;
}

.proficiencies li {
  list-style-type: none;
}

footer {
  display: flex;
  background-color: #D7CEB2;
  justify-content: center;
  padding: 20px;
}

footer a {
  padding: 20px;
}
